/*============COMMON STYLES============*/
/*================RESET===============*/
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

/*=================/RESET=============*/

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

/*============/COMMON STYLES============*/

/*============PAGE-HEADER-STYLES============*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

/*============/PAGE-HEADER STYLES============*/

/*============HERO SECTION STYLES============*/

.hero-section {
  padding-top: 0;
  padding-bottom: 60px;
  margin: auto;
  height: 600px;
  background: #2e2f42;
}

.main-title {
  max-width: 496px;
  padding-top: 188px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.order-service-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 188px;
  display: block;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
}

.order-service-btn:hover,
.order-service-btn:focus {
  color: #fff;
  background: #404bbf;
}

/*============/HERO SECTION STYLES============*/

/*============OUR APPROACH STYLES============*/

.approach-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  column-gap: 24px;
  list-style: none;
}

.approach-list-item {
  flex-basis: 264px;
  flex-basis: calc((100% - 72px) / 4);
}

.approach-list-title {
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.approach-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*============/OUR APPROACH STYLES============*/

/*============REVIEW SECTION STYLES============*/

.review-section {
  display: block;
  background: #f4f4fd;
}

.review-title {
  margin-top: 120px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.review-list {
  display: flex;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
  column-gap: 24px;
  padding: 0;
  list-style: none;
  background: #f4f4fd;
}

.review-list-card {
  width: 232px;
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.review-list-item {
  border-radius: 0 0 4px 4px;
  width: 264px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  width: calc((100%-72px) / 4);
}

.review-list-fullname {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.review-list-text {
  padding-top: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/*============/REVIEW SECTION STYLES============*/

/*============PORTFOLIO SECTION STYLES============*/

.portfolio-section {
  display: block;
  background: #fff;
}

.portfolio-list-card {
  padding-top: 0px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  width: 360px;
}

.portfolio-title {
  padding-top: 120px;
  padding-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  width: calc((100%-48px) / 3);
}

.portfolio-list-title {
  padding-top: 32px;
  padding-bottom: 8px;
  padding-left: 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-list-text {
  padding-bottom: 32px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*============/PORTFOLIO SECTION STYLES============*/

/*============PAGE FOOTER STYLES============*/

.page-footer {
  margin-top: 67px;
  display: block;
  background: #2e2f42;
}

.footer-logo {
  display: inline-block;
  padding-top: 101px;
}

.footer-logo .logo-part {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.page-footer-text {
  max-width: 264px;
  margin-top: 16px;
  padding-bottom: 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/*============/PAGE FOOTER STYLES============*/
